new_dataset/
.DS_Store
fine_tuned_model_epoch_1
fine_tuned_model_epoch_2
fine_tuned_model_epoch_3
fine_tuned_model_epoch_4
fine_tuned_model_epoch_5
fine_tuned_model_epoch_6
fine_tuned_model_epoch_7
fine_tuned_model_epoch_8
fine_tuned_model_epoch_9
fine_tuned_model_epoch_10
model
processor
new_dataset_5050/
new_dataset_8080/
new_dataset_8080_random/
new_dataset_5050_random/

reconstructed_images_5050_fixed/
reconstructed_images_8080_fixed/
reconstructed_images_8080_random/

